
<div id="login-page">
  <div class="page-form-wrapper"></div>
    <div class="page-form" style="background-color: #f0f2f5 !important;text-align:center">
  		<img src="../app/images/gallery/logo.png" border="0">
  		<br>
		<label style="font-family: 'oswald';font-size: 30px;font-weight: bold;padding-left: 5%;">Little Sister</label>
  	</div>
  <div class="page-form" style="margin: 1% auto 0 auto !important;">
    <form  class="form" ng-controller="LoginController">
      <div class="header-content">
        <h1>Log In</h1>
      </div>
      <div class="body-content">
        
        <div class="form-group">
          <div class="input-icon right"><i class="fa fa-user"></i>
            <input type="text" placeholder="Username" name="j_username" ng-model="login.username" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon right"><i class="fa fa-key"></i>
            <input type="password" placeholder="Password" name="j_password" ng-model="login.password" class="form-control"/>
          </div>
        </div>
        
        <!-- <div class="form-group pull-left">
          <div class="checkbox-list">
            <label>
              <input type="checkbox"/>&nbsp;
              Keep me signed in
            </label>
          </div>
        </div> -->
        
        <div class="form-group pull-right">
        	<button type="button" class="btn btn-success"
                            ng-disabled="!login.username || !login.password"
                            ng-click="loginUser()">Log In
                            &nbsp;<i class="fa fa-chevron-circle-right"></i>
                            </button>
         
        </div>
        
        <div class="clearfix"></div>
<!--         <div class="forget-password">
          <h4>Forgotten your Password?</h4>
          <p>no worries, click <a href='javascript:void(0);' class='btn-forgot-pwd'>here</a> to reset your password.</p>
        </div>
        <hr/> -->
        
        <!-- <p>Don't have an account? <a id="btn-register" href="/#/extra-signup">Register Now</a>
        </p> -->
      </div>
    </form>
  </div>
</div>