
<div id="title-breadcrumb-option-demo" style="margin-bottom:20px" data-ng-include="'templates/states/breadcrumb.html'" class="page-title-breadcrumb"></div>
<div id="tab-general">
  <div id="sum_box" class="row mbl">
    
    <dashboardprogressbars  
         remote='dashboard.progressBar.remote'>
    </dashboardprogressbars>
    
  </div>
  
  <div class="row mbl">
    
    <div class="col-lg-12" data-ng-if="userRole == 9">
      <div class="portlet box">
        <div class="portlet-header">
          <div class="caption text-uppercase">My Follow-ups</div>
        </div>
        <div class="row" data-ng-controller="FollowUpLeadsCtrl as showCase"  style="overflow: hidden;max-height:286px;">
		  <div class="col-lg-12 todo-list">
		     <div class="portlet-body">
		        <div class="row mbm">
		          <div class="col-lg-12">
		            <div class="table-responsive" >
		              <table id="my_leads" datatable="ng" data-dt-options="showCase.dtOptions" data-dt-column-defs="showCase.dtColumnDefs" 
		              class="table table-hover table-striped table-bordered table-advanced tablesorter display tb-sticky-header">
		              	<thead>
		                  <tr>
		                    <th style="background-color: #dc6767;color:white;" width="6%">#</th>
		                    <th style="background-color: #dc6767;color:white;" width="14%">Name</th>
		                    <th style="background-color: #dc6767;color:white;" width="8%">Contact</th>
		                    <th style="background-color: #dc6767;color:white;" width="12%">Product</th>
		                    <th style="background-color: #dc6767;color:white;" width="4%">Time</th>
		                    <th style="background-color: #dc6767;color:white;" width="4%">Actions</th>
		                  </tr>
		                  </thead>
		                  
		          		  <tbody>
		                  <tr data-ng-repeat="order in showCase.orders">
		                    <td>{{ order.leadNumber }}</td>
		                    <td>{{ order.contactName }}</td>
		                    <td>{{ order.contactNumber }}</td>
		                    <td>{{ order.pincode }}</td>
		                    <td>{{ order.followUpDate | date:"dd MMM ',' h:mma"}}</td>
		                    <td>
		                      <a class="btn btn-xs btn-default" ui-sref="escalated-leads({leadType : 'Edit', editId : order.id })" ><i class="fa fa-eye"></i> Edit</a>
		                    </td>
		                  </tr>
		                  </tbody>	        
		              </table>
		            </div>
		           </div>
		          </div>
		      </div>      
		  </div>        
		</div>
      </div>
    </div>
     <div class="col-lg-12" data-ng-if="userRole == 7 || userRole == 5 ||userRole == 6 || userRole == 8">
      <div class="portlet box ">
        <div class="portlet-header">
          <div class="caption text-uppercase">My Escalated Leads</div>
        </div>
        <div class="row" data-ng-controller="EscalatedLeadsCtrl as showCase"  style="overflow:hidden;max-height:286px;">
		  <div class="col-lg-12 todo-list">
		     <div class="portlet-body">
		        <div class="row mbm">
		          <div class="col-lg-12">
		            <div class="table-responsive" >
		              <table id="my_leads" datatable="ng" data-dt-options="showCase.dtOptions" data-dt-column-defs="showCase.dtColumnDefs" 
		              class="table table-hover table-striped table-bordered table-advanced tablesorter display tb-sticky-header">
		              	<thead>
		                  <tr>
		                    <th style="background-color: #dc6767;color:white;" width="6%">#</th>
		                    <th style="background-color: #dc6767;color:white;" width="14%">Name</th>
		                    <th style="background-color: #dc6767;color:white;" width="12%">Product</th>
		                    <th style="background-color: #dc6767;color:white;" width="4%">Escalated To</th>
		                    <th style="background-color: #dc6767;color:white;" width="4%">Dealer</th>
		                  </tr>
		                  </thead>
		                  
		          		  <tbody>
		                  <tr data-ng-repeat="order in showCase.orders">
		                    <td>{{ order.leadNumber }}</td>
		                    <td>{{ order.contactName }}</td>
		                    <td>{{ order.product }}</td>
		                    <td>{{ order.escalatedTo }}</td>
		                    <td>{{ order.dealerName}}</td>
		                  </tr>
		                  </tbody>	        
		              </table>
		            </div>
		           </div>
		          </div>
		      </div>      
		  </div>        
		</div>
      </div>
    </div>
    <div class="col-lg-12" data-ng-if="userRole == 7 || userRole == 9 || userRole == 5 ||userRole == 6 || userRole == 8">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="mbs text-uppercase">Open/Closed Leads</h4>
              <p class="help-block"></p>
              <!-- <div id="area-chart-spline" style="width: 100%; height:300px" 
              ng-areachartspline=""></div> -->
              <flot remote="dashboard.spline.remote" type="stack" dataset="dataset"  height="250px"></flot>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" data-ng-if="userRole != 7 && userRole != 9  && userRole != 5 && userRole != 6 && userRole != 8 ">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="mbs text-uppercase">Leads By Zone</h4>
              <p class="help-block"></p>
              <!-- <div id="area-chart-spline" style="width: 100%; height:300px" 
              ng-areachartspline=""></div> -->
              <flot remote="dashboard.spline1.remote" type="stack" dataset="dataset"  height="250px"></flot>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12"  data-ng-if="userRole != 7 && userRole != 9  && userRole != 5 && userRole != 6 && userRole != 8 ">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="mbs text-uppercase">Leads By Product</h4>
              <p class="help-block"></p>
              <!-- <div id="area-chart-spline" style="width: 100%; height:300px" 
              ng-areachartspline=""></div> -->
              <flot remote="dashboard.spline2.remote" type="stack" dataset="dataset"  height="250px"></flot>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4">
      <div class="portlet box">
        <div class="portlet-header">
          <div class="caption text-uppercase">Chats</div>
        </div>
        <div class="portlet-body">
          <div class="chat-scroller">
            <ul class="chats">
              <li class="in"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive"/>
                <div class="message"><span class="chat-arrow"></span><a href="javascript:void(0);" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></div>
              </li>
              <li class="out"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive"/>
                <div class="message"><span class="chat-arrow"></span><a href="javascript:void(0);" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 18:06</span><span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></div>
              </li>
              <li class="in"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive"/>
                <div class="message"><span class="chat-arrow"></span><a href="javascript:void(0);" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></div>
              </li>
              <li class="out"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive"/>
                <div class="message"><span class="chat-arrow"></span><a href="javascript:void(0);" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 18:06</span><span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></div>
              </li>
              <li class="in"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" class="avatar img-responsive"/>
                <div class="message"><span class="chat-arrow"></span><a href="javascript:void(0);" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></div>
              </li>
            </ul>
          </div>
          <div class="chat-form">
            <div class="input-group">
              <input id="input-chat" type="text" placeholder="Type a message here..." class="form-control"/><span id="btn-chat" class="input-group-btn">
                <button type="button" class="btn btn-green"><i class="fa fa-check"></i></button></span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row mbl">
  </div>
</div>
<style>
.page-content {
	min-height:0px;
}
</style>