<div class="row" ng-init="init()">
          <div class="col-lg-12">
            <div class="panel panel-red">
              <div class="panel-heading">Create Dealer </div>
              <div class="panel-body pan">
                <form ng-submit="createDealer()" class="horizontal-form">
                  <div class="form-body pal">
                    
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Dealer Code <span class='require'>*</span></label>
                          <div class="input-icon">
                            <input id="inputFirstName" type="text" placeholder="Dealer Code" ng-model="dealerData.code" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Dealer Name <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-user"></i>
                            <input id="inputFirstName" type="text" placeholder="Dealer Name" ng-model="dealerData.name" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Customer Group <span class='require'>*</span></label>
                          <div class="input-icon">
                            <input id="inputFirstName" type="text" placeholder="Customer Group" ng-model="dealerData.customerGroup" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Phone <span class='require'>*</span></label>
                          <div class="input-icon">
                            <input id="inputFirstName" type="text" placeholder="Phone" ng-model="dealerData.phone" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Email <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-envelope"></i>
                            <input type="email" placeholder="Email Address" ng-model="dealerData.email" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selPSM" class="control-label">Zone <span class='require'>*</span></label>
                          <select id="selPSM" data-ng-model="dealerData.zone" data-ng-change="getRSM(dealerData.zone.id)" class="form-control" required>
                          	<option value="">Select Zone</option>
                            <option ng-repeat="zone in zoneList" value="{{zone}}" >{{zone.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selPSM" class="control-label">Territory <span class='require'>*</span></label>
                          <select id="selPSM" ng-model="dealerData.territory" class="form-control" required>
                            <option value="">Select Territory</option>
                            <option data-ng-repeat="t in territoryList" value="{{t}}" >{{t.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selPSM" class="control-label">RSM <span class='require'>*</span></label>
                          <select id="selPSM" data-ng-model="dealerData.rsm" class="form-control" required>
                            <option value="">Select RSM</option>
                            <option ng-repeat="t in rsm" value="{{t.id}}" >{{t.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="inputPinCodes" class="control-label">Pin-Codes <span class='require'>*</span></label>
                          <tags-input ng-model="dealerData.pins" display-property="pin" add-from-autocomplete-only="true" min-tags="1">
						      <auto-complete source="loadPin($query)"></auto-complete>
						  </tags-input>
						  <p style="color: red;" ng-show="isPin"><b>*Please enter pins</b></p>
                        </div>
                      </div>
                    </div>
                   
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="inputStreet" class="control-label">Address Line <span class='require'>*</span></label>
                          <textarea rows="1" cols="" ng-model="dealerData.address" class="form-control" required></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selPSM" class="control-label">State <span class='require'>*</span></label>
                          <select id="selPSM" ng-model="dealerData.state" class="form-control" required>
                           <option value="">Select state</option>
                            <option ng-repeat="state in stateList" value="{{state.name}}" >{{state.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selPSM" class="control-label">District <span class='require'>*</span></label>
                          <select id="selPSM" ng-model="dealerData.district" class="form-control" required>
                            <option value="">Select District</option>
                            <option ng-repeat="district in districtList" value="{{district.name}}" >{{district.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Sub District <span class='require'>*</span></label>
                          <div class="input-icon">
                            <input id="inputFirstName" type="text" ng-model="dealerData.subdist" placeholder="Sub District" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPostCode" class="control-label">Zip Code <span class='require'>*</span></label>
                          <input id="inputPostCode" type="text" ng-model="dealerData.zipCode" placeholder="Zip Code" class="form-control" required/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                    <button type="button" class="btn btn-green">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>