<div class="row">
  
  <div class="col-lg-12">
     <div class="portlet-body">
        <div class="row mbm">
          <div class="col-lg-12">
            <div class="table-responsive"  >
              <table id="my_leads" datatable="ng" data-dt-options="showCase.dtOptions" data-dt-column-defs="showCase.dtColumnDefs" 
              class="table table-hover table-striped table-bordered table-advanced tablesorter display tb-sticky-header">
              	<thead>
                  <tr>
                   <!-- <th style="width: 3%; padding: 10px; background: #efefef">
                      <input type="checkbox" class="checkall"/>
                    </th> -->
                    <th style="background-color: #dc6767;color:white;" width="15%">Name</th>
                    <th style="background-color: #dc6767;color:white;" width="25%">Email</th>
                    <th style="background-color: #dc6767;color:white;" width="15%"><i class="fa fa-phone"></i> Contact</th>
                    <th data-ng-if="userRole == 9" style="background-color: #dc6767;color:white;" width="20%">Pin-code</th>
                    <th data-ng-if="userRole == 9" style="background-color: #dc6767;color:white;" width="15%">RSM</th>
					<th data-ng-if="userRole != 9" style="background-color: #dc6767;color:white;" width="20%">zone</th>
					<th data-ng-if="userRole != 9" style="background-color: #dc6767;color:white;" width="20%">Territory</th>
                    <th style="background-color: #dc6767;color:white;" width="5%">Actions</th>
                  </tr>
                  </thead>
                  
          		  <tbody>
                  <tr data-ng-repeat="user in showCase.users">
                    <!-- <td><label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                    <input type="checkbox" data-ng-model="order.selected"><i></i></label></td> -->
                    
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td data-ng-if="userRole == 9" ><a data-ng-repeat="pin in user.pins" class="label " style="float:left; margin: 2px; background: gray;border-radius: 0px !important;font-size: 11px; font-weight:700;">{{pin.pin}}</a></td>
                    <td data-ng-if="userRole == 9" >{{ user.rsm }}</td>
                    <td data-ng-if="userRole != 9">{{ user.zone.name }}</td>
                    <td data-ng-if="userRole != 9">{{ user.territory.name }}</td>
                    <td>
                      <a class="btn btn-xs btn-default" ng-click="showDealerTab(user)"><i class="fa fa-eye"></i> View</a>
                    </td>
                  </tr>
                  </tbody>	        
              </table>
            </div>
           </div>
          </div>
      </div>      
  </div>        
</div>
