<div class="row" ng-init="init()">
          <div class="col-lg-12">
            <div class="panel panel-red">
              <div class="panel-heading">Create User</div>
              <div class="panel-body pan">
                <form ng-submit="createUser()" class="horizontal-form">
                  <div class="form-body pal">
                    <h3>Personal</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Name <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-user"></i>
                            <input id="inputFirstName" type="text" placeholder="Name" ng-model="userData.name" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Email <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-envelope"></i>
                            <input type="email" placeholder="Email Address" ng-model="userData.email" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selGender" class="control-label">Gender <span class='require'>*</span></label>
                          <select id="selGender" ng-model="userData.gender" class="form-control" required>
                           <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputBirthday" class="control-label">Birthday</label>
                          <input id="inputBirthday" type="text" placeholder="dd/mm/yyyy" ng-model="userData.birthday" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPhone" class="control-label">Contact Number</label>
                          <input id="inputPhone" type="text" placeholder="" ng-model="userData.phone" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputBirthday" class="control-label">Role<span class='require'>*</span></label>
                          <select id="selPSM1" ng-model="userData.role" class="form-control" required>
                          	<option value="">Select Role</option>
                            <option ng-repeat="role in roleList" value="{{role.roleId}}" >{{role.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPhone" class="control-label">Zone<span class='require'>*</span></label>
                          <select id="selPSM" ng-model="userData.zone" class="form-control" required>
                          	<option value="">Select Zone</option>
                            <option ng-repeat="zone in zoneList" value="{{zone.id}}" >{{zone.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    
               <div class="form-group" id="product-list">
              <label class="control-label col-md-3">Select Products</label>
              <div class="col-md-6">
	              	<!-- 
	              	<div class="btn-group btn-group-sm mbm"><a id="select-all" class="btn btn-white" ng-click="selectAllFun()">select all</a><a id="deselect-all" class="btn btn-white" ng-click="deselectAll()">deselect all</a>
	             	</div>
	                 -->
	                
	                <select id="pre-selected-options" multiple="multiple" data-ng-model="userData.productlist">
	                 <option ng-repeat="product in productList" value="{{product.id}}">{{product.name}}</option>
	                </select>
            	</div>                                
                                                
            </div>
            
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="inputStreet" class="control-label">Address <span class='require'>*</span></label>
                          <input id="inputStreet" type="text" placeholder="" ng-model="userData.address" class="form-control" required/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputFirstName" class="control-label">State</label>
                          <select id="selPSM" ng-model="userData.state" class="form-control" required>
                           <option value="">Select state</option>
                            <option ng-repeat="state in stateList" value="{{state.id}}" >{{state.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputCity" class="control-label">City <span class='require'>*</span></label>
                          <select id="selPSM" ng-model="userData.district" class="form-control" required>
                            <option value="">Select District</option>
                            <option ng-repeat="district in districtList" value="{{district.id}}" >{{district.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPostCode" class="control-label">Post Code</label>
                          <input id="inputPostCode" type="text" placeholder="" ng-model="userData.postCode" class="form-control" required/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                    <!-- <button type="button" class="btn btn-green">Cancel</button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>