<div class="row" ng-init="init()">
          <div class="col-lg-12">
            <div class="panel panel-red">
              <div class="panel-heading">Create Sector</div>
              <div class="panel-body pan">
                <form ng-submit="addSector(userData)" class="horizontal-form">
                  <div class="form-body pal">
                    <h3>Personal</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Name <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-user"></i>
                            <input id="inputFirstName" type="text" placeholder="Sector name" ng-model="userData.name" class="form-control" required/>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                     <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="inputPinCodes" class="control-label">Area coordinator <span class='require'>*</span></label>
                          <tags-input ng-model="userData.coordinators" display-property="name" placeholder="Search by Coordinator" add-from-autocomplete-only="true" min-tags="1" >
						      <auto-complete source="loadCoordinator($query)"></auto-complete>
						  </tags-input>
                        </div>
                      </div>
                    </div>
                    
                    
                     <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="inputPinCodes" class="control-label">Sangini <span class='require'>*</span></label>
                          <tags-input ng-model="userData.sanghni" display-property="name" placeholder="Search by Sangini" add-from-autocomplete-only="true" min-tags="1">
						      <auto-complete source="loadSanghnis($query)"></auto-complete>
						  </tags-input>
						  <p style="color: red;" ng-show="isPin"><b>*Please enter pins</b></p>
                        </div>
                      </div>
                    </div>
                    
    <div>                
               <table class="table">
        <tr>
            
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th></th>
        </tr>
        <tr ng:repeat="item in invoice">
            <td><input type="text" ng:model="item.name"class="input-small"></td>           
            <td><input type="text" ng:model="item.address" ng:required class="input-small"></td>
            <td><input type="text" ng:model="item.contact" ng:required class="input-small"></td>
            <td>
                [<a href ng:click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            <td><a href ng:click="addItem()" class="btn btn-small">Add Item</a></td>
            <td></td>
            <td></td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
    </div>     
                    
              <!--  <div class="form-group" id="product-list">
              <label class="control-label col-md-3">Select Products</label>
              <div class="col-md-6">
	              	
	              	<div class="btn-group btn-group-sm mbm"><a id="select-all" class="btn btn-white" ng-click="selectAllFun()">select all</a><a id="deselect-all" class="btn btn-white" ng-click="deselectAll()">deselect all</a>
	             	</div>
	                
	                
	                <select id="pre-selected-options" multiple="multiple" data-ng-model="userData.productlist">
	                 <option ng-repeat="product in productList" value="{{product.id}}">{{product.name}}</option>
	                </select>
            	</div>                                
                                                
            </div> -->
                    
                  </div>
                  <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                    <!-- <button type="button" class="btn btn-green">Cancel</button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>