<div class="row">
  
  <div class="col-lg-12">
     <div class="portlet-body">
        <div class="row mbm">
          <div class="col-lg-12">
            <div class="table-responsive"  >
              <table id="my_leads" datatable="ng" data-dt-options="showSectors.dtOptionsSectors" data-dt-column-defs="showCase.dtColumnDefs" 
              class="table table-hover table-striped table-bordered table-advanced tablesorter display tb-sticky-header">
              	<thead>
                  <tr>
                   <!-- <th style="width: 3%; padding: 10px; background: #efefef">
                      <input type="checkbox" class="checkall"/>
                    </th> -->
                    <th style="background-color: #dc6767;color:white;" width="14%">Name</th>
                    <th style="background-color: #dc6767;color:white;" width="14%">Area Coordinator </th>
                    <th style="background-color: #dc6767;color:white;" width="14%">Sanghanis </th>
                    <th style="background-color: #dc6767;color:white;" width="14%"></th>
                    
                  </tr>
                  </thead>
                  
          		  <tbody>
                  <tr data-ng-repeat="sector in myAllsector">
                    <!-- <td><label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                    <input type="checkbox" data-ng-model="order.selected"><i></i></label></td> -->
                    
                    <td>{{ sector.name }}</td>
                    <td style="  width: 20%;"><span ng-repeat="c in sector.coordinators"><font style="color: #d2322d;" ng-if="sector.coordinators.length==1">{{c.name}}</font><font style="color: #d2322d;" ng-if="sector.coordinators.length>1">{{c.name}}</font><font ng-if="sector.coordinators.length>1&&sector.coordinators.length-1!=$index"> , </font></font></span></td>
                    <td style="  width: 60%;"><span ng-repeat="c in sector.sanghni"><font style="color: #d2322d;" ng-if="sector.sanghni.length==1">{{c.name}}</font><font style="color: #d2322d;" ng-if="sector.sanghni.length>1">{{c.name | limitTo:9}}</font><font ng-if="sector.sanghni.length>1&&sector.sanghni.length-1!=$index"> , </font></font></span></td>
                   
                    <td>
                      <a class="btn btn-xs btn-default" ng-click="showUserTab(sector)"><i class="fa fa-eye"></i> View</a>
                    </td>
                  </tr>
                  </tbody>	        
              </table>
            </div>
           </div>
          </div>
      </div>      
  </div>        
</div>
