<div class="row">
          <div class="col-lg-12">
            <div class="panel panel-red">
              <div class="panel-heading">View User</div>
              <div class="panel-body pan">
                <form data-ng-submit="editUser(showCase.user)" class="horizontal-form">
                  <div class="form-body pal">
                    <h3>Personal</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Name <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-user"></i>
                            <input id="inputFirstName" type="text" placeholder="Name" ng-model="showCase.user.name" class="form-control"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Email <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-envelope"></i>
                            <input type="email" placeholder="Email Address" ng-model="showCase.user.email" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selGender" class="control-label">Gender <span class='require'>*</span></label>
                          <select id="selGender" ng-model="showCase.user.gender" class="form-control">
                           <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputBirthday" class="control-label">Birthday</label>
                          <input id="inputBirthday" type="text" placeholder="dd/mm/yyyy" ng-model="showCase.user.birthday" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPhone" class="control-label">Contact Number</label>
                          <input id="inputPhone" type="text" placeholder="" ng-model="showCase.user.phone" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputBirthday" class="control-label">Role</label>
                          <select id="selPSM" ng-model="showCase.user.role.roleId" class="form-control" required>
                          	<option value="">Select Role</option>
                            <option data-ng-selected="showCase.user.role.roleId == role.roleId" 
                            data-ng-repeat="role in roleList" 
                            value="{{role.roleId}}" >{{role.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPhone" class="control-label">Zone</label>
                          <select id="selPSM" ng-model="showCase.user.zone.id" class="form-control" required>
                          	<option value="">Select Zone</option>
                            <option data-ng-selected="showCase.user.zone.id == zone.id" ng-repeat="zone in zoneList" 
                            value="{{zone.id}}" >{{zone.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    
               <div class="form-group" id="product-list">
              <label class="control-label col-md-3">Select Products</label>
              <div class="col-md-6">
	              	<!-- 
	              	<div class="btn-group btn-group-sm mbm"><a id="select-all" class="btn btn-white" ng-click="selectAllFun()">select all</a><a id="deselect-all" class="btn btn-white" ng-click="deselectAll()">deselect all</a>
	             	</div>
	                 -->
	                <select id="pre-selected-options1" multiple="multiple" data-ng-model="showCase.user.productlist">
	                 <option ng-repeat="product in showCase.user.products" value="{{product.id}}" data-ng-selected="{{product.selected}}">{{product.name}}</option>
	                </select>
            	</div>                                
                                                
            </div>
            
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="inputStreet" class="control-label">Address <span class='require'>*</span></label>
                          <input id="inputStreet" type="text" placeholder="" ng-model="showCase.user.address" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputFirstName" class="control-label">state</label>
                          <select id="selPSM" ng-model="showCase.user.state.id" class="form-control" required>
                           <option value="">Select state</option>
                            <option data-ng-selected="showCase.user.state.id == state.id" ng-repeat="state in stateList" 
                            value="{{state.id}}" >{{state.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputCity" class="control-label">City <span class='require'>*</span></label>
                          <select id="selPSM" ng-model="showCase.user.district.id" class="form-control" required>
                            <option value="">Select District</option>
                            <option data-ng-selected="showCase.user.district.id == district.id" 
                            ng-repeat="district in districtList" value="{{district.id}}" >{{district.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPostCode" class="control-label">Post Code</label>
                          <input id="inputPostCode" type="text" placeholder="" ng-model="showCase.user.postCode" class="form-control"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                    <!-- <button type="button" class="btn btn-green">Cancel</button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>