<div class="row">
          <div class="col-lg-12">
            <div class="panel panel-red">
              <div class="panel-heading">View Role</div>
              <div class="panel-body pan">
                <form ng-submit="editRole()" class="horizontal-form">
                  <div class="form-body pal">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="roleName" class="control-label">Role Name <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-user"></i>
                            <input id="roleName" type="text" placeholder="Name" value="Dealer" class="form-control"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputDescription" class="control-label">Description <span class='require'>*</span></label>
                          <div class="input-icon">
                            <input type="text" placeholder="Description" value="Dealer" class="form-control"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                    <button type="button" class="btn btn-green">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>